.orange-bg {
    background-color: #fceae8;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #ff136f;
}

.buy {
    background-image: linear-gradient(45deg, red, #ff0077);
    color: blanchedalmond;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 20px;
}

.container {
    padding-bottom: 100px;
}

.cat1 {
    background-color: orange;
}

.cat2 {
    background-color: orchid;
}

.cat3 {
    background-color: blue;
}

.cat1,
.cat2,
.cat3 {
    padding: 10px 30px;
    border-radius: 5px;
}

.categories h1 {
    color: white;
}

.categories img {
    width: 100px;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 5px;
}

.card-footer {
    background-color: white;
    border-top: none;
}

#subscribe {
    height: 300px;
}

footer {
    text-align: center;
}